<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delete Product</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{index :: header}"></div>
<div class="container mt-5">
    <h1 class="mb-4">Confirm Delete</h1>
    <p>Are you sure you want to delete the product <strong th:text="${product.productName}">Product Name</strong>?</p>
    <form th:action="@{/admins/products/remove/{id}/confirm(id=${product.id})}" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn btn-secondary" th:href="@{/admins/products/get}">Cancel</a>
    </form>
</div>
<div th:insert="~{index :: footer}"></div>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
